@page "/Account/Manage"
@using System.ComponentModel.DataAnnotations
@using Amazon.S3
@using MatchBy.Services.FileValidator
@using MatchBy.Services.S3
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject IFileValidator FileValidator
@inject IS3Service S3Service


<PageTitle>Profile</PageTitle>

<section class="space-y-6">
    <h2 class="text-lg font-medium text-[var(--text)]">Edit Profile</h2>

    <StatusMessage/>
    <EditForm Model="Input" FormName="profile" OnValidSubmit="OnValidSubmitAsync" method="post" class="space-y-6"
              enctype="multipart/form-data">
        <DataAnnotationsValidator/>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

            <!-- Avatar centrado e maior -->
            <div class="md:col-span-2 flex flex-col items-center">
                <div class="relative w-40 h-40 md:w-64 md:h-64 rounded-full overflow-hidden border-2 border-[var(--main)] shadow-md">
                    <img src="@(_user?.ProfileImage?.Url ?? "/images/user-avatar.png")"
                        alt="Profile picture"
                        class="absolute inset-0 w-full h-full object-cover" />
                </div>
            </div>


            <!-- Username (read-only) -->
            <div class="md:col-span-2">
                <label for="username" class="block mb-2 text-sm font-medium text-[var(--text)]">
                    Username
                </label>
                <input
                    id="username"
                    type="text"
                    value="@_username"
                    disabled
                    aria-readonly="true"
                    class="bg-[var(--section-secondary)] focus:border-[var(--main)] text-[var(--text)] rounded-lg block w-full p-2.5 cursor-not-allowed"/>
            </div>

            <!-- User Bio -->
            <div class="md:col-span-2">
                <label for="Input.Bio" class="block mb-2 text-sm font-medium text-[var(--text)]">
                    Biography
                </label>
                <InputText
                    id="Input.Bio"
                    @bind-Value="Input.Bio"
                    class="block w-full p-2.5 rounded-lg
                        bg-[var(--section-secondary)]
                        text-[var(--text)]
                        focus:border-[var(--main)]
                        focus:ring-1 focus:ring-[var(--main)]
                        focus:outline-none"
                    placeholder="Let's play together!"/>
                <ValidationMessage For="() => Input.Bio" class="text-[var(--error)] text-sm mt-1"/>
            </div>

            <div class="md:col-span-2 space-y-2">
                <label class="block mb-2 text-sm font-medium text-[var(--text)]" for="ProfilePicture">Profile
                    Image</label>

                <div class="flex items-center gap-3">
                    <InputFile
                        class="block w-full text-sm text-[var(--text)] border-0 focus:border-2 rounded-lg cursor-pointer bg-[var(--section-secondary)] focus:outline-none focus:border-[var(--main)]"
                        id="ProfilePicture" 
                        name="Input.ProfilePicture" 
                        type="file" 
                        ccept="image/*"/>

                    @if (_user?.ProfileImage is not null)
                    {
                        <button type="submit" form="removeImageForm"
                                class="shrink-0 inline-flex items-center px-4 py-2 rounded-lg text-sm font-medium
                           bg-[var(--main)] hover:bg-[var(--main-hover)] hover:text-[var(--text-contrast)]">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="lucide lucide-trash2-icon lucide-trash-2">
                                <path d="M10 11v6"/>
                                <path d="M14 11v6"/>
                                <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6"/>
                                <path d="M3 6h18"/>
                                <path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"/>
                            </svg>
                        </button>
                    }
                </div>

                <ValidationMessage For="() => Input.ProfilePicture" class="text-red-600 text-sm mt-1"/>
            </div>

            <div class="md:col-span-2">
                <button id="dropdownCheckboxButton" data-dropdown-toggle="dropdownDefaultCheckbox"
                        class="w-full text-[var(--text-contrast)] bg-[var(--main)] hover:bg-[var(--main-hover)] focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center justify-center"
                        type="button">
                    Favorite Sports
                    <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                         viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="m1 1 4 4 4-4"/>
                    </svg>
                </button>
            </div>

            <!-- Dropdown menu -->
            <div id="dropdownDefaultCheckbox"
                 class="z-10 hidden w-48 bg-[var(--section-secondary)] divide-y divide-[var(--main)] rounded-lg shadow-sm">
                <ul class="p-3 space-y-3 text-sm text-[var(--text)]" aria-labelledby="dropdownCheckboxButton">
                    @foreach (var sport in Enum.GetValues<Sports>())
                    {
                        var isChecked = _currentSports.Contains(sport);
                        <li>
                            <label for="sport-@sport"
                                   class="flex items-center p-2 rounded-sm hover:bg-[var(--main)] hover:text-[var(--text-contrast)] cursor-pointer">
                                <input id="sport-@sport"
                                       type="checkbox"
                                       name="Input.PreferredSports"
                                       value="@sport"
                                       checked="@isChecked"
                                       class="w-4 h-4 text-[var(--main-hover)] bg-gray-100 hover:text-[var(--main-hover)] border-gray-300 rounded-sm focus:ring-0"/>
                                <span
                                    class="ms-2 text-sm font-medium text-[var(--text)] hover:text-[var(--text-contrast)]">@sport</span>
                            </label>
                            <input type="hidden" name="CheckboxViewModel.Status" value="false"/>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <div class="pt-2">
            <button
                type="submit"
                class="w-full sm:w-auto inline-flex justify-center px-6 py-2.5 rounded-lg text-sm font-medium text-[var(--text-contrast)] bg-[var(--main)] hover:bg-[var(--main-hover)]">
                Save
            </button>
        </div>
    </EditForm>

    <form id="removeImageForm" method="post" action="/api/profile-image/delete" class="hidden">
        <AntiforgeryToken/>
    </form>
</section>

@code {
    private ApplicationUser _user = default!;
    private string? _username;
    private string? _bio;
    private ICollection<Sports> _currentSports = new List<Sports>();

    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm] private InputModel Input { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        _user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        _username = _user.UserName;

        _bio = _user.Bio;
        Input.Bio ??= _bio;

        _currentSports = _user.PreferredSports;
    }

    private async Task OnValidSubmitAsync()
    {
        var changed = false;

        if (Input.Bio != _bio)
        {
            _user.Bio = Input.Bio;
            var update = await UserManager.UpdateAsync(_user);
            if (!update.Succeeded)
            {
                RedirectManager.RedirectToCurrentPageWithStatus("Error: Failed to set bio.", HttpContext);
                return;
            }

            changed = true;
        }

        if (Input.ProfilePicture is not null)
        {
            if (!FileValidator.IsValidFormImage(Input.ProfilePicture))
            {
                RedirectManager.RedirectToCurrentPageWithStatus("Error: Failed to update profile.", HttpContext);
                return;
            }

            var imageKey = await S3Service.UploadFormFileAsync(Input.ProfilePicture, $"users/{_user.Id}/profile-pictures");
            if (!imageKey.Success)
            {
                RedirectManager.RedirectToCurrentPageWithStatus("Error: Failed to upload profile picture.", HttpContext);
                return;
            }

            if (_user.ProfileImage is not null)
            {
                await S3Service.DeleteFileAsync($"users/{_user.Id}/profile-picture/{_user.ProfileImage.Key}");
            }

            var imageUrl = await S3Service.GetPresignedUrlAsync($"users/{_user.Id}/profile-pictures/{imageKey.Data}", HttpVerb.GET);
            if (!imageUrl.Success)
            {
                RedirectManager.RedirectToCurrentPageWithStatus("Error: Failed to upload profile picture.", HttpContext);
                await S3Service.DeleteFileAsync($"users/{_user.Id}/profile-pictures/{imageKey}");
                return;
            }

            _user.ProfileImage = new FileStore(
                Url: imageUrl.Data!,
                ExpireDateTimeUtc: DateTime.UtcNow.AddMinutes(30),
                Key: imageKey.Data!,
                FileCategory: FileCategory.ProfileImage,
                FileType: FileType.Image,
                CreatedAtUtc: DateTime.UtcNow
            );
            changed = true;
        }


        if (Input.PreferredSports != null && !_user.PreferredSports.SequenceEqual(Input.PreferredSports))
        {
            _user.PreferredSports = Input.PreferredSports;
            changed = true;
        }
        else if(_currentSports.Count > 0 && (Input.PreferredSports == null || Input.PreferredSports.Count == 0))
        {
            _user.PreferredSports = new List<Sports>();
            changed = true;
        }


        if (changed)
        {
            var update = await UserManager.UpdateAsync(_user);
            if (!update.Succeeded)
            {
                RedirectManager.RedirectToCurrentPageWithStatus("Error: Failed to update profile.", HttpContext);
                return;
            }


            await SignInManager.RefreshSignInAsync(_user);
            RedirectManager.RedirectToCurrentPageWithStatus("Your profile has been updated", HttpContext);
        }
    }

    private sealed class InputModel
    {
        [Display(Name = "Bio")]
        [StringLength(500, ErrorMessage = "Your bio must be at most 500 characters long.")]
        public string? Bio { get; set; }

        public List<Sports> PreferredSports { get; set; } = new();

        public IFormFile? ProfilePicture { get; set; } = null;
    }
}