@using Blazorise

<Pagination Class="flex gap-2">
    <PaginationItem Disabled="@IsPageNavigationDisabled(PREVIOUS)" @onclick="Previous">
        <PaginationLink Class="@GetPaginationLinkClass(false, IsPageNavigationDisabled(PREVIOUS))">
            <span aria-hidden="true">«</span>
        </PaginationLink>
    </PaginationItem>

    @foreach (var pageNumber in Enumerable.Range(1, TotalPages))
    {
        <PaginationItem @key="pageNumber" Active="@(CurrentPage == pageNumber)">
            <PaginationLink Class="@GetPaginationLinkClass(CurrentPage == pageNumber, false)" @onclick="() => SetActive(pageNumber)">
                @pageNumber
            </PaginationLink>
        </PaginationItem>
    }

    <PaginationItem Disabled="@IsPageNavigationDisabled(NEXT)" @onclick="Next">
        <PaginationLink Class="@GetPaginationLinkClass(false, IsPageNavigationDisabled(NEXT))">
            <span aria-hidden="true">»</span>
        </PaginationLink>
    </PaginationItem>
</Pagination>

@code {
    [Parameter] public required int TotalItems { get; set; }
    [Parameter] public required int PageSize { get; set; }
    [Parameter] public required int CurrentPage { get; set; }
    [Parameter] public required EventCallback<int> OnPageChanged { get; set; }

    private const string PREVIOUS = "previous";
    private const string NEXT = "next";

    private int TotalPages => (int)Math.Ceiling(TotalItems / (double)PageSize);

    private bool IsPageNavigationDisabled(string nav) =>
        nav == PREVIOUS ? CurrentPage == 1 : nav == NEXT && CurrentPage >= TotalPages;

    private async Task Previous()
    {
        if (CurrentPage > 1)
        {
            await OnPageChanged.InvokeAsync(CurrentPage - 1);
        }
    }

    private async Task Next()
    {
        if (CurrentPage < TotalPages)
        {
            await OnPageChanged.InvokeAsync(CurrentPage + 1);
        }
    }

    private async Task SetActive(int page)
    {
        if (page != CurrentPage)
        {
            await OnPageChanged.InvokeAsync(page);
        }
    }

    private static string GetPaginationLinkClass(bool isActive, bool isDisabled)
    {
        if (isDisabled)
        {
            return "px-4 py-2 rounded-lg border-2 !border-[var(--main)] !bg-[var(--section)] !text-[var(--text)] opacity-50 cursor-not-allowed font-medium min-w-[2.5rem] inline-flex items-center justify-center";
        }

        return isActive ? "px-4 py-2 rounded-lg border-2 !border-[var(--main)] !bg-[var(--main)] !text-[var(--text-contrast)] font-medium min-w-[2.5rem] inline-flex items-center justify-center transition-all" : "px-4 py-2 rounded-lg border-2 !border-[var(--main)] !bg-[var(--section-secondary)] !text-[var(--text)] !hover:bg-[var(--main)] !hover:text-[var(--text-contrast)] font-medium min-w-[2.5rem] inline-flex items-center justify-center transition-all cursor-pointer";
    }
}